body {
  margin: 0;
  background-color: black;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  cursor: pointer;
}

.nav-link.active {
  color: #00ff7f; /* Custom highlight color */
  font-weight: bold;
  border-bottom: 2px solid #00ff7f;
}


.skill-logo {
  width: 50px; /* Set the desired width for mobile */
  height: 50px; /* Set the desired height for mobile */
  object-fit: cover; /* Ensure the image fills the specified dimensions */
  padding: 3px; /* Set the desired padding */
}

.skill-container {
  width: 100px; /* Set the desired width for mobile */
  height: 100px; /* Set the desired height for mobile */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff59; /* Set the desired border width and color */
  border-radius: 20%; /* Make the border a circle */
  gap: 5px; /* Set the desired gap between the image and text */
}

.skill-set p {
  font-size: 10px; /* Set the desired font size for mobile */
}

.skill-container:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .skill-logo {
    width: 60px;
    height: 60px;
  }
  .skill-container {
    width: 120px;
    height: 100px;
  }
  .skill-set p {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .skill-logo {
    width: 100px;
    height: 100px;
  }
  .skill-container {
    width: 160px;
    height: 140px;
  }
  .skill-set p {
    font-size: 16px;
  }
}